SISLS3GPLayer/SISLS3GPLayer/App_WebReferences/ApprovalMgtServicesReference/ApprovalMgtServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3220/LoanAdmin/ApprovalMgtServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/S3GBusEntity" />
  <xs:import schemaLocation="http://localhost:3220/LoanAdmin/ApprovalMgtServices.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="FunPubCreateApprovals">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q1:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjApprovalDatatable_SERLAY" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateApprovalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateApprovalsResult" type="xs:int" />
        <xs:element minOccurs="0" name="strErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubRevokeOrUpdateApprovedDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dicParam" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubRevokeOrUpdateApprovedDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubRevokeOrUpdateApprovedDetailsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateOrModifyLoanEndUseApproval">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q3:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjLoanEndUseApproval_DataTable" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateOrModifyLoanEndUseApprovalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateOrModifyLoanEndUseApprovalResult" type="xs:int" />
        <xs:element minOccurs="0" name="strEndUseNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intApproval_No" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateRVMatrix">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q4:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjLoanEndUseApproval_DataTable" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateRVMatrixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateRVMatrixResult" type="xs:int" />
        <xs:element minOccurs="0" name="strRVMCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>